
@model AdministartionWebsite.ViewModels.Project.ProjectPageViewModel;

<section class="customerPageContainer">
    <h2 class="customerIndexTitle">@Model.ProjectName</h2>

    <nav class="customerIndexButtonPanel">
        <a asp-area="" asp-controller="Project" asp-action="ProjectNew" class="redirectButton">New</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectEdit" asp-route-Id="@Model.ProjectId" class="redirectButton">Edit</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectDelete" asp-route-Id="@Model.ProjectId" class="redirectButton">Delete</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectIndex" class="redirectButton">Back</a>
    </nav>
    
    <div class="customerPageProjectList">
        <p class="customerPageProjectListHeader">Customer: @Model.CustomerName</p>
        <p class="customerPageProjectListHeader">Total: @Model.TotalMinutesSpent Minutes</p>
    @foreach(var reg in Model.TimeRegs!)
    {
        <partial name="_ppVMListItemPartial" model="@reg"/>
    }
    </div>

</section>



