
@model AdministartionWebsite.ViewModels.Project.ProjectPageViewModel;

<section>
    <h2>@Model.ProjectName</h2>

    <nav>
        <a asp-area="" asp-controller="Project" asp-action="ProjectNew">New</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectEdit" asp-route-Id="@Model.ProjectId">Edit</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectDelete" asp-route-Id="@Model.ProjectId">Delete</a>
        <a asp-area="" asp-controller="Project" asp-action="ProjectIndex">Back</a>
    </nav>
    
    <div>
        <p>Customer: @Model.CustomerName</p>
        <p>Minutes Spent: @Model.TotalMinutesSpent</p>
    @foreach(var reg in Model.TimeRegs!)
    {
        <partial name="_ppVMListItemPartial" model="@reg"/>
    }
    </div>

</section>



