@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdministartionWebsite.ViewModels.Customer.CustomerPageViewModel;

<div>
    <h2>Customer Name: @Model.CustomerName</h2>

    <a asp-area="" asp-controller="Customer" asp-action="CustomerNew">new</a>
    <a asp-area="" asp-controller="Customer" asp-action="CustomerEdit" asp-route-ID="@Model.CustomerId">edit</a>
    <a asp-area="" asp-controller="Customer" asp-action="CustomerDelete" asp-route-ID="@Model.CustomerId">delete</a>
    
    <div>
        <h3>Projects</h3>
    @foreach(var proj in Model.CustomerProjects!)
    {
        <div>
            <p>Project Name: @proj.ProjectName</p>
            <p>Amount of Regs: @proj.regAmount</p>
            <p>Latest Reg: @proj.latestRegDate</p>
        </div>
    }
    </div>
</div>